nav{
    text-align: center;
    text-shadow: 3px;
  background-color: darkolivegreen;
    text size: height: 5px;
}

img{
    width: 1400px;
    height: auto;
}
div{
text-align: center;

text-shadow: 0cqmax;
}
body{
    background-color: darkolivegreen;
}
a{
    text-align: end;
}
iframe{
    width: 300px;
    height: auto;
}
h1{
    background-color: blanchedalmond;
}
   text-align: center;
   text-decoration: blue;
}
p,b{
    text-align: center;
text-size-adjust: 10px;
}
input{
    text-align: center;
}